body {
    color: #465967;
    text-align: justify;
}

#content {
    padding: 0;
    margin-top: 10px;

}
#header{
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: #202c38;
    color: #fcfcfe;
}

.head {
    grid-template-columns: 1fr 1fr;
    width: 500px;
}

#line {
    width: 500px;
    height: 5px;
    margin-top: 20px;
    background: #fcfcfe;
}

.name {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
    margin-top: 20px;
}

div#header #text{
    margin-right: 20px;
}

#description {
    letter-spacing: 0.1em;
    margin-top: 30px;
    font-size: 2.2 em;
}

#image {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 140px;
    height: 180px;
    border: 3px solid #fff;
    border-radius: 80px ;
}

#experience {
    background: #e6e6e9;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
}

#experience-content {
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr 8fr;
    
}

#studies {
    background: #e6e6e9;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
}

.minimun {
    font-size: 18px;
}


#studies-content {
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr 8fr;
}

a {
    text-decoration: none;
    color: #202c38;
}

a:visited {
    text-decoration: none;
    color: #465967;
}

a:hover {
    color:darkgray;
}

#SS {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr;
}

.habilities {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

#progress-bar {
    background: #e6e6e9;
    height: 10px;
    margin-top: 5px;
    width: 100px;
}

#progress-HTML {
    background-color: #202c38;
    width: 80%;
    height: 10px;
}
#progress-CSS {
    background-color: #202c38;
    width: 80%;
    height: 10px;
}
#progress-PYTHON {
    background-color: #202c38;
    width: 70%;
    height: 10px;
}
#progress-FLASK {
    background-color: #202c38;
    width: 60%;
    height: 10px;
}
#progress-PHP {
    background-color: #202c38;
    width: 80%;
    height: 10px;
}
#progress-JAVA {
    background-color: #202c38;
    width: 70%;
    height: 10px;
}
#progress-BASH {
    background-color: #202c38;
    width: 70%;
    height: 10px;
}
#progress-GIT {
    background-color: #202c38;
    width: 90%;
    height: 10px;
}

#progress-React {
    background-color: #202c38;
    width: 70%;
    height: 10px;   
}

#head{
    font-weight: bold;

}

ul{
    list-style: none;
    padding: 0%;
}

@media screen and (max-width: 420px) {
    #header{
        grid-template-columns: 1fr;
        background-color: #202c38;
        color: #fcfcfe;
    }
    
    #content {
        margin-top: 0px !important;
    }

    #image {
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 24%;
        width: 140px;
        height: 180px;
        border: 3px solid #fff;
        border-radius: 80px ;
    }

    #description {
        margin-left: 13%;
        margin-bottom: 10%;
    }

    .name {
        margin-left: 6%;
    }

    
    #text {
        width: 300px;
        margin-left: 10%;
    }

    #studies {
        padding: 5px; /* Reducir espacio en las secciones */
        font-size: 16px; /* Reducir tamaño de fuente */
        margin-top: 0px; /* Reducir margen superior */
    }

    .experience {
        margin-left: 2%;
        margin-left: 2%;
    }

    #experience-content {
        margin-right: 2%;
        margin-left: 2%;
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .divider {
        border: 1px solid black;
    }

    .check {
        display: none;
    }

    #studies-content {
        margin-right: 2%;
        margin-left: 2%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .habilities {
        margin-left: 2%;
        margin-right: 2%;
    }

    /* Otros ajustes que consideres necesarios para pantallas pequeñas */
}

